NEXT_PUBLIC_APPWRITE_ENDPOINT=https://api.metl.run/v1
NEXT_PUBLIC_APPWRITE_PROJECT_ID=tantalum
NEXT_PUBLIC_APPWRITE_DATABASE_ID=697b8f660033fffde4be
NEXT_PUBLIC_APPWRITE_BOARDS_COLLECTION_ID=boards
NEXT_PUBLIC_APPWRITE_FIRMWARE_COLLECTION_ID=firmwares
NEXT_PUBLIC_APPWRITE_AGENT_SETTINGS_FUNCTION_ID=agent-settings
NEXT_PUBLIC_APPWRITE_BOARD_ADMIN_FUNCTION_ID=board-admin
NEXT_PUBLIC_APPWRITE_DESKTOP_AUTH_FUNCTION_ID=desktop-auth
NEXT_PUBLIC_APPWRITE_WEB_ADMIN_FUNCTION_ID=web-admin
NEXT_PUBLIC_APPWRITE_SUPPORT_TICKETS_COLLECTION_ID=support_tickets
NEXT_PUBLIC_TANTALUM_DESKTOP_SCHEME=tantalum
NEXT_PUBLIC_TANTALUM_WEB_APP_URL=https://tantalum.knurdz.org
NEXT_PUBLIC_TANTALUM_WINDOWS_DOWNLOAD_URL=
NEXT_PUBLIC_TANTALUM_MACOS_DOWNLOAD_URL=
NEXT_PUBLIC_TANTALUM_LINUX_DOWNLOAD_URL=
